<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link href="/css/home.css" th:href="@{/css/home.css}" rel="stylesheet"/>
        <title>全文検索！</title>
    </head>
    <body>

        <h1 class="entry">Qiita記事全文検索</h1>

        <form class="entry_search" th:action="@{/search}" method="GET" th:object="${entrySearchForm}">
            <input type="text" th:field="*{word}" />
            <select name="display">
                <option value="10" th:selected="*{display} == 10">10</option>
                <option value="30" th:selected="*{display} == 30">30</option>
                <option value="50" th:selected="*{display} == 50">50</option>
            </select>
            <input type="submit" value="検索" />
            <p class="error-text" th:if="${#fields.hasErrors('word')}" th:errors="*{word}" style="color: red"></p>
            <p class="error-text" th:if="${#fields.hasErrors('display')}" th:errors="*{display}" style="color: red"></p>
        </form>


        <div class="result" th:if="${entries}">

            <div class="result_title">検索結果</div>
            <div class="result_count">ヒット件数：[[${count}]]</div>
            <ul class="result_values">
                <li class="result_value" th:each="entry : ${entries}">
                    <a th:href="@{${entry.url}}" class="result_value__href">[[${entry.title}]]</a>
                </li>
            </ul>

        </div>

    </body>
</html>